extends ../layouts/layout.pug

block content
	.row
		.col-md-4.stretch-card.grid-margin
			.card.bg-gradient-warning.text-white
				.card-body
					h4.font-weight-normal.mb-3 Weekly Sales
					h2.font-weight-normal.mb-5 $ 15,00000.00
					p.card-text Incresed by 60%
		.col-md-4.stretch-card.grid-margin
			.card.bg-gradient-info.text-white
				.card-body
					h4.font-weight-normal.mb-3 Weekly Orders
					h2.font-weight-normal.mb-5 45633456
					p.card-text Decreased by 10%
		.col-md-4.stretch-card.grid-margin
			.card.bg-gradient-success.text-white
				.card-body
					h4.font-weight-normal.mb-3 Visitors Online
					h2.font-weight-normal.mb-5 955741235
					p.card-text Increased by 5%
	.row
		.col-md-7.grid-margin.stretch-card
			.card
				.card-body
					h4.card-title Sale Overview
					canvas#sales-chart
		.col-md-5.grid-margin.stretch-card
			.card
				.card-body.d-flex.flex-column
					h4.card-title Satisfaction Graph
					.mt-auto
						canvas#satisfaction-chart(height='200')
	.row
		.col-lg-12.grid-margin.stretch-card
			.card
				.card-body
					h4.card-title Recent Updates
					.d-flex
						.d-flex.align-items-center.mr-4.text-muted
							i.mdi.mdi-account.icon-sm.mr-2
							span jack Menqu
						.d-flex.align-items-center.text-muted
							i.mdi.mdi-calendar-blank.icon-sm.mr-2
							span October 3rd, 2018
					.row.mt-3
						.col-6.pr-1
							img.mb-2.mw-100.w-100.rounded(src='/img/dashboard/img_1.jpg', alt='image')
							img.mw-100.w-100.rounded(src='/img/dashboard/img_4.jpg', alt='image')
						.col-6.pl-1
							img.mb-2.mw-100.w-100.rounded(src='/img/dashboard/img_2.jpg', alt='image')
							img.mw-100.w-100.rounded(src='/img/dashboard/img_3.jpg', alt='image')
					.d-flex.mt-5.align-items-top
						img.img-sm.rounded-circle.mr-3(src='/img/faces/face3.jpg', alt='image')
						.mb-0.flex-grow
							p.font-weight-bold.mr-2.mb-0 Jack Manque
							p
								| This is amazing! We have moved to a brand new office in
								| New Hampshire with a lot more space.
								| We will miss our old office but we are very excited about our new space.
						.ml-auto
							i.mdi.mdi-heart-outline.text-muted
	.row
		.col-12.grid-margin
			.card
				.card-body
					h4.card-title Recent Tickets
					.table-responsive
						table.table
							thead
								tr
									th
										| Ticket No.
									th
										| Subject
									th
										| Assignee
									th
										| Status
									th
										| Last Update
									th
										| Tracking ID
									th
										| Priority
							tbody
								tr
									td
										| 5669
									td
										| Fund is not recieved
									td.py-1
										img.mr-2(src='/img/faces/face1.jpg', alt='image')
										|                             David Grey
									td
										label.badge.badge-gradient-success DONE
									td
										| Dec 5, 2017
									td
										| WD-12345
									td
										i.mdi.mdi-arrow-up.text-danger.icon-sm.mr-1
										| High
								tr
									td
										| 5670
									td
										| High loading time
									td.py-1
										img.mr-2(src='/img/faces/face2.jpg', alt='image')
										|                             Stella Johnson
									td
										label.badge.badge-gradient-warning PROGRESS
									td
										| Dec 12, 2017
									td
										| WD-12346
									td
										i.mdi.mdi-arrow-up.text-danger.icon-sm.mr-1
										| High
								tr
									td
										| 5671
									td
										| Website down for one week
									td.py-1
										img.mr-2(src='/img/faces/face3.jpg', alt='image')
										|                             Marina Michel
									td
										label.badge.badge-gradient-secondary ON HOLD
									td
										| Dec 16, 2017
									td
										| WD-12347
									td
										i.mdi.mdi-arrow-up.text-success.icon-sm.mr-1
										| Low
								tr
									td
										| 5672
									td
										| Loosing control on server
									td.py-1
										img.mr-2(src='/img/faces/face4.jpg', alt='image')
										|                             John Doe
									td
										label.badge.badge-gradient-success DONE
									td
										| Dec 3, 2017
									td
										| WD-12348
									td
										i.mdi.mdi-arrow-up.text-warning.icon-sm.mr-1
										| Medium
	.row
		.col-md-12.grid-margin.stretch-card
			.card
				.card-body
					h4.card-title Shipping Status
					.table-responsive
						table.table
							thead
								tr
									th
										| #
									th
										| Name
									th
										| Overall Progress
									th
										| ID
									th
										| Start Date
									th
										| Due Date
							tbody
								tr
									td
										| 1
									td
										| Herman Beck
									td
										.progress
											.progress-bar.bg-gradient-success(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-3
									td
										| May 10, 2015
									td
										| May 15, 2015
								tr
									td
										| 2
									td
										| Messsy Adam
									td
										.progress
											.progress-bar.bg-gradient-danger(role='progressbar', style='width: 75%', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-4
									td
										| May 01, 2015
									td
										| Jul 01, 2015
								tr
									td
										| 3
									td
										| John Richards
									td
										.progress
											.progress-bar.bg-gradient-warning(role='progressbar', style='width: 90%', aria-valuenow='90', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-5
									td
										| Mar 10, 2015
									td
										| Apr 12, 2015
								tr
									td
										| 4
									td
										| Peter Meggik
									td
										.progress
											.progress-bar.bg-gradient-primary(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-6
									td
										| May 10, 2015
									td
										| May 15, 2015
								tr
									td
										| 5
									td
										| Edward
									td
										.progress
											.progress-bar.bg-gradient-danger(role='progressbar', style='width: 35%', aria-valuenow='35', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-7
									td
										| Jan 23, 2015
									td
										| May 03, 2015
								tr
									td
										| 5
									td
										| Ronald
									td
										.progress
											.progress-bar.bg-gradient-info(role='progressbar', style='width: 65%', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100')
									td
										| ST-8
									td
										| Jun 01, 2015
									td
										| Jun 05, 2015
