script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
if title != 'Add Trip'
	script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAP_API}&libraries=places&callback=initAutocomplete`
        async defer)
else
	script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAP_API}&libraries=places&callback=initMap`
        async defer)
script(src="/scripts/jquery.barrating.min.js")
script(src="/scripts/modules/wow.min.js")
if title != 'Add Trip'
	script(src="/scripts/modules/autoComplete.js")
else
	script(src="/scripts/modules/autoCompletePlaces.js")

script(src="/build/scripts/script.js")

//- AIzaSyDRmlHcgSUnrJCfjq94_6g8gYh4l6BSins