
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.GOOGLE_MAP_API}&libraries=places&callback=initAutocomplete`
        async defer)
script(src="/scripts/modules/misc.js")
script(src="/scripts/modules/chart.js")
script(src="/scripts/jquery.barrating.min.js")
script(src="/scripts/modules/dashboard.js")
script(src="/scripts/modules/wow.min.js")
script(src="/scripts/modules/paraia_multi_select.min.js")
script(src="/scripts/script.js")

//- AIzaSyDRmlHcgSUnrJCfjq94_6g8gYh4l6BSins