extends ../../layouts/layout.pug

block content
	.col-12.grid-margin
		.card
			.card-body
				h3.card-title.mb-1= title
				h5.card-description.text-muted.mb-5
					| Add new Trip.
				form.form-sample(action='/dashboard/trips/add', method="POST")
					input(type="hidden", name="_csrf", value=`${csrfToken()}`)
					.row
						.col
							h3.card-title.my-3 Trip Information	
							.row
								label.col-12.font-weight-bold.col-form-label Trip Name
								.form-group.col-12
									input.form-control.form-control-lg(type="text" name="name" placeholder="Trip Name" required)
							.row
								label.font-weight-bold.col-12.col-form-label Type							
								.pl-5.w-100.row
									.form-radio.col-4
										label.form-check-label
											input.form-check-input(type='radio', name='type', value='umrah', checked='')
											| Umrah
											i.input-helper
									.form-radio.col-4
										label.form-check-label
											input.form-check-input(type='radio', name='type', value='hajj')
											| Hajj
											i.input-helper
							.row
								label.font-weight-bold.col-12.col-form-label Traveling Type							
								.pl-5.w-100.row
									.form-radio.col-4
										label.form-check-label
											input.form-check-input(type='radio', name='travel_type', value='air')
											| Air travel
											i.input-helper
									.form-radio.col-4
										label.form-check-label
											input.form-check-input(type='radio', name='travel_type', value='land')
											| Land Travel
											i.input-helper
									.form-radio.col-4
										label.form-check-label
											input.form-check-input(type='radio', name='travel_type', value='sea')
											| Sea Travel
											i.input-helper
							.row
								label.font-weight-bold.col-12.col-form-label Duration
								.form-group.col-12
									label.col-12.col-form-label From
									.col-12
										input.form-control.form-control-lg(type="text", name="duration[from]", class="datepicker", id="addDatePicker-from", placeholder='dd/mm/yyyy')
								.form-group.col-12
									labe.col-12.col-form-label To
									.col-12
										input.form-control.form-control-lg(type="text", name="duration[to]", class="datepicker", id="addDatePicker-to", placeholder='dd/mm/yyyy')
							.row
								label.col-12.font-weight-bold.col-form-label Description
								.form-group.col-12
									.col-12
										textarea.form-control.form-control-lg#description(name="description", cols="30", rows="10", placeholder="Enter Some Description.")
							.row
								label.col-12.font-weight-bold.col-form-label price
								.form-group.col-12
									.col-12
										input.form-control.form-control-lg(type="number" name="price" placeholder="price" required)
									.col-12
										small.text-muted this price is for one person, and price unit will be in LE
						.col
							h3.card-title.my-3 Hotel Information
							.row
								.form-group.col-12
									label.col-12.col-form-label Country
									.col-12#controls
										select.form-control#country
											option(value='all') All
											option(value='au') Australia
											option(value='br') Brazil
											option(value='ca') Canada
											option(value='fr') France
											option(value='de') Germany
											option(value='mx') Mexico
											option(value='nz') New Zealand
											option(value='it') Italy
											option(value='za') South Africa
											option(value='es') Spain
											option(value='pt') Portugal
											option(value='us', selected='') U.S.A.
											option(value='uk') United Kingdom
								.form-group.col-12
									label.col-12.col-form-label Find hotels in:
									.col-12
										input.form-control(type="text", id="autocomplete", placeholder="Enter a city")
								.col-12
									#map(style="height:15rem;")
								.col-12
									#listing(style="max-height: 15rem; overflow-y: scroll;")
										table#resultsTable
											tbody#results
								.form-group.col-12.m-0
									label.col-12.col-form-label Hotel Include
									.col-12
										input.form-control.form-control-lg.m-0.selecteInclude(type='text', placeholder="what this trip include")
										input.invisible.w-122(type="hidden", name="hotel[include]", value="", id="includeInput")
								.form-group.col-12
									label.col-12.col-form-label Hotel Name
									.col-12
										input.form-control.form-control-lg(type="text", id="hotelName" ,name="hotel[name]", placeholder="Hotel Name")
								.form-group.col-12
									label.col-12.col-form-label Hotel Address
									.col-12
										input.form-control.form-control-lg(type="text", id="hotelAddress" ,name="hotel[location][address]", placeholder="Hotel Address")
								.form-group.col-12
									label.col-12.col-form-label hotel Phone Number
									.col-12
										input.form-control.form-control-lg(type="text", id="hotelPhoneNumber" ,name="hotel[international_phone_number]", placeholder="Hotel phone number")
								.form-group.col-12
									label.col-12.col-form-label Hotel lng
									.col-12
										input#hotelLng.form-control.form-control-lg(type='text' name="hotel[location][coordinates][0]" placeholder="Where is your company?")
								.form-group.col-12
									label.col-12.col-form-label Hotel lat
									.col-12
										input#hotelLat.form-control.form-control-lg(type='text' name="hotel[location][coordinates][1]" placeholder="Type Your Country Name.")
								.form-group.col-12
									label.col-12.col-form-label Stars
									.col-12
										.br-wrapper.br-theme-fontawesome-stars-o
											select.form-control#addTrip(name="hotel[rating]")
												option(value="1")
												option(value="2")
												option(value="3")
												option(value="4")
												option(value="5")
												option(value="6")
												option(value="7")
					.row
						.col-12
							button.btn.btn-success.btn-lg.float-right(type="submit") Add Trip
				script.
					$(document).ready(function () {
						var datepickersOpt = {
							dateFormat: 'dd-mm-yy',
							minDate: 0
						}
						var $datePickerFrom = $(`#addDatePicker-from`);
						var $datePickerTo = $(`#addDatePicker-to`);

						$datePickerFrom.datepicker($.extend({
							onSelect: function () {
								var minDate = $(this).datepicker('getDate');
								minDate.setDate(minDate.getDate() + 2); //add two days
								$datePickerTo.datepicker("option", "minDate", minDate);
							}
						}, datepickersOpt));

						$datePickerTo.datepicker($.extend({
							onSelect: function () {
								var maxDate = $(this).datepicker('getDate');
								maxDate.setDate(maxDate.getDate());
								$datePickerFrom.datepicker("option", "maxDate", maxDate);
							}
						}, datepickersOpt));


						var eventLog = function (ctx, e) {
							var html = [
								"name: " + ctx.get("name"),
								"event.type: " + e.type,
								"val: " + ctx[0]
							];
							// $(".events-plate").html(html.join("<br />"));
							// console.log(html.join());
						};
						var valuesArr = [];
						$(".selecteInclude").mSelectDBox({
							"list": ['مواصلات للحرم','إنترنت', 'نادي صحي', 'إفطار بوفيه مجاني وواي فاي مجاني في الردهة','مجالسة أو رعاية الأطفال (نظير تكلفة إضافية)', 'يتوفر إفطار','غرف للضيافة', 'حافلة للتوصيل من وإلى المطار', 'تنظيف الغرف يوميًا'],
							"multiple": true,
							"autoComplete": true,
							"width": "100px",
							"name": "a",
							"onInit": function (ctx) {
								new $.fn.mSelectDBox.MyCustomAppear1(ctx);
							},
							"input:empty": eventLog,
							"onselect": function (msdbContext) {
								var values = msdbContext._props.target.attributes['data-msdb-value'].value;
								valuesArr = $(".selecteInclude").mSelectDBox().getSelectedValues();
								var input = $('#includeInput');
								$(input).val(valuesArr);
							}
						});


						$('#addTrip').barrating({
							theme: 'fontawesome-stars',
							showValues: true,
							deselectable: false
						});
					});
