extends ../../layouts/layout.pug

block content
	.col-12.grid-margin
		.card
			.card-body
				h3.card-title.mb-1= title
				h5.card-description.text-muted.mb-5
					| Add new Trip.
				form.form-sample(action='/dashboard/trips/add', method="POST")
					input(type="hidden", name="_csrf", value=`${csrfToken()}`)
					.row
						.col-md-6
							.form-group.row
								label.font-weight-bold.col-sm-3.col-form-label(style="padding-top: 20px;") Trip Type
								.col-sm-4
									.form-radio
										label.form-check-label
											input.form-check-input(type='radio', name='type', value='umrah', checked='')
											| Umrah
											i.input-helper
								.col-sm-5
									.form-radio
										label.form-check-label
											input.form-check-input(type='radio', name='type', value='hajj')
											| Hajj
											i.input-helper
						.col-md-6
							.form-group.row
								label.font-weight-bold.col-sm-3.col-form-label Includes
								.col-sm-9
									input.form-control.selecteInclude(type='text', placeholder="what this trip include")
									input.invisible(type="text", name="include", value="", id="includeInput")
					.row
						.col-md-12
							.card-description.font-weight-bold Duration
						.col-md-6
							.form-group.row
								label.col-sm-3.font-weight-bold.col-form-label From
								.col-sm-9
									input.form-control(type="text", name="duration[from]", class="datepicker", id="addDatePicker-from", placeholder='dd/mm/yyyy')
						.col-md-6
							.form-group.row
								label.col-sm-3.font-weight-bold.col-form-label To
								.col-sm-9
									input.form-control(type="text", name="duration[to]", class="datepicker", id="addDatePicker-to", placeholder='dd/mm/yyyy')
					.row
						.col-md-12
							.card-description.font-weight-bold Hotel
						.col-6
							.form-group.row
								label.col-3.font-weight-regular.col-form-label find hotels in: 
								.col-9
									input.form-control(type="text", id="autocomplete", placeholder="Enter a city")
						.col-md-6
							.form-group.row
								label.col-sm-3.col-form-label Country
								.col-sm-9#controls
									select.form-control#country
										option(value='all') All
										option(value='au') Australia
										option(value='br') Brazil
										option(value='ca') Canada
										option(value='fr') France
										option(value='de') Germany
										option(value='mx') Mexico
										option(value='nz') New Zealand
										option(value='it') Italy
										option(value='za') South Africa
										option(value='es') Spain
										option(value='pt') Portugal
										option(value='us', selected='') U.S.A.
										option(value='uk') United Kingdom

						.col-8
							#map(style="height: 15rem;")
						.col-4
							#listing(style="height: 15rem; overflow-x: scroll;")
								table#resultsTable
									tbody#results
						
						div(style='display: none')
							#info-content
								table
									tr#iw-url-row.iw_table_row
										td#iw-icon.iw_table_icon
										td#iw-url
									tr#iw-address-row.iw_table_row
										td.iw_attribute_name Address:
										td#iw-address
									tr#iw-phone-row.iw_table_row
										td.iw_attribute_name Telephone:
										td#iw-phone
									tr#iw-rating-row.iw_table_row
										td.iw_attribute_name Rating:
										td#iw-rating
									tr#iw-website-row.iw_table_row
										td.iw_attribute_name Website:
										td#iw-website
					.row.mt-5
						.col-6
							.form-group.row
								label.col-3.font-weight-regular.col-form-label Hotel Name
								.col-9
									input.form-control(type="text", id="hotelName" ,name="hotel.name", placeholder="Hotel Name")
						.col-6
							.form-group.row
								label.col-3.font-weight-regular.col-form-label Hotel Address
								.col-9
									input.form-control(type="text", id="hotelAddress" ,name="hotel.location.address", placeholder="Hotel Address")
						.col-12
							.form-group.row
								label.col-3.font-weight-regular.col-form-label Hotel Phone Number
								.col-9
									input.form-control(type="text", id="hotelPhoneNumber" ,name="hotel.international_phone_number", placeholder="Hotel phone number")
						.col-6
							.form-group
								label.col-3.font-weight-regular.col-form-label
									|hotel lng
								.col-9
									input#hotelLng.form-control(type='text' name="hotel.location[coordinates][0]" placeholder="Where is your company?")
						.col-6
							.form-group
								label.col-3.font-weight-regular.col-form-label
									|hotel lat
								.col-9
									input#hotelLat.form-control(type='text' name="hotel.location[coordinates][1]" placeholder="Type Your Country Name.")
						.col-6
							.form-group
								label.col-3.font-weight-regular.col-form-label Stars
								.col-9
									.br-wrapper.br-theme-fontawesome-stars-o
										.ml-0
											select.form-control#addTrip(name="hotel.rating")
												option(value="1")
												option(value="2")
												option(value="3")
												option(value="4")
												option(value="5")
												option(value="6")
												option(value="7")
				
				
					.row.mt-5
						.col-md-12
							button.btn.btn-success.btn-lg.mr-2.float-right(type='submit') Add
						
				script.
					$(document).ready(function () {
						var datepickersOpt = {
							dateFormat: 'dd-mm-yy',
							minDate: 0
						}
						var $datePickerFrom = $(`#addDatePicker-from`);
						var $datePickerTo = $(`#addDatePicker-to`);

						$datePickerFrom.datepicker($.extend({
							onSelect: function () {
								var minDate = $(this).datepicker('getDate');
								minDate.setDate(minDate.getDate() + 2); //add two days
								$datePickerTo.datepicker("option", "minDate", minDate);
							}
						}, datepickersOpt));

						$datePickerTo.datepicker($.extend({
							onSelect: function () {
								var maxDate = $(this).datepicker('getDate');
								maxDate.setDate(maxDate.getDate());
								$datePickerFrom.datepicker("option", "maxDate", maxDate);
							}
						}, datepickersOpt));


						var eventLog = function (ctx, e) {
							var html = [
								"name: " + ctx.get("name"),
								"event.type: " + e.type,
								"val: " + ctx[0]
							];
							// $(".events-plate").html(html.join("<br />"));
							// console.log(html.join());
						};
						var valuesArr = [];
						$(".selecteInclude").mSelectDBox({
							"list": ['خدمة الغرف', 'سبا', 'حمامات سباحة', 'غداء', 'فطار', 'عشاء', 'توصيل للحرم'],
							"multiple": true,
							"autoComplete": true,
							"width": "100px",
							"name": "a",
							"onInit": function (ctx) {
								new $.fn.mSelectDBox.MyCustomAppear1(ctx);
							},
							"input:empty": eventLog,
							"onselect": function (msdbContext) {
								var values = msdbContext._props.target.attributes['data-msdb-value'].value;
								valuesArr = $(".selecteInclude").mSelectDBox().getSelectedValues();
								var input = $('#includeInput');
								$(input).val(valuesArr);
							}
						});

					});
