doctype html
html
	include partials/header.pug
	body
		.container-scroller
			.container-fluid.page-body-wrapper
				.row
					.content-wrapper.full-page-wrapper.d-flex.align-items-center.text-center.error-page
						.col-lg-6.mx-auto
							h1.display-1.mb-0 404
							h2.mb-4 Page Not Found!
							p You seem to be trying to find this way home
							a.btn.btn-gradient-secondary.mt-5.btn-rounded.text-white.btn-lg(href='/') Back to home
		include partials/footer.pug