extends layout.pug

block content
	.col-md-12.grid-margin.stretch-card
		.card
			.card-body
				h3.card-title= title
				h5.card-description.text-muted
					| Add new company to the system, fill the form!
				include partials/companyForm.pug
				if company 
					+companyForm(company)
				else 
					+companyForm()