extends layout.pug

block content
	.col-md-12.grid-margin.stretch-card
		.card
			.card-body
				h4.card-title= title
				p.card-description
					| Add new company to the system, fill the form!
				include partials/companyForm.pug
				if company 
					+companyForm(company)
				else 
					+companyForm()