extends layout.pug

block content
	.col-12.grid-margin
		.card
			.card-body
				h3.card-title.mb-1= title
				h5.card-description.text-muted.mb-5
					| Add new Trip.
				form.form-sample(action='/company/trips/add', method="POST")
					.row
						.col-md-6
							.form-group.row
								label.font-weight-bold.col-sm-3.col-form-label(style="padding-top: 20px;") Trip Type
								.col-sm-4
									.form-radio
										label.form-check-label
											input.form-check-input(type='radio', name='type', value='umrah', checked='')
											| Umrah
											i.input-helper
								.col-sm-5
									.form-radio
										label.form-check-label
											input.form-check-input(type='radio', name='type', value='hajj')
											| Hajj
											i.input-helper
						.col-md-6
							.form-group.row
								label.font-weight-bold.col-sm-3.col-form-label Includes
								.col-sm-9
									input.form-control.selecteInclude(type='text', placeholder="what this trip include")
									input.invisible(type="text", name="include", value="", id="includeInput")
					.row
						.col-md-12
							.row
								.col-md-12
									.card-description.font-weight-bold Duration
								.col-md-6
									.form-group.row
										label.col-sm-3.font-weight-bold.col-form-label From
										.col-sm-9
											input.form-control(type="text", name="duration[from]", class="datepicker", id="addDatePicker-from", placeholder='dd/mm/yyyy')
								.col-md-6
									.form-group.row
										label.col-sm-3.font-weight-bold.col-form-label To
										.col-sm-9
											input.form-control(type="text", name="duration[to]", class="datepicker", id="addDatePicker-to", placeholder='dd/mm/yyyy')
					.row.mt-5
						.col-md-12
							button.btn.btn-success.btn-lg.mr-2.float-right(type='submit') Add
						
				script.
					$(document).ready(function(){
						var datepickersOpt = {
							dateFormat: 'dd-mm-yy',
							minDate: 0
						}
						var $datePickerFrom = $(`#addDatePicker-from`);
						var $datePickerTo = $(`#addDatePicker-to`);

						$datePickerFrom.datepicker($.extend({
							onSelect: function() {
								var minDate = $(this).datepicker('getDate');
								minDate.setDate(minDate.getDate() + 2); //add two days
								$datePickerTo.datepicker( "option", "minDate", minDate);
							}
						},datepickersOpt));

						$datePickerTo.datepicker($.extend({
							onSelect: function() {
								var maxDate = $(this).datepicker('getDate');
								maxDate.setDate(maxDate.getDate());
								$datePickerFrom.datepicker( "option", "maxDate", maxDate);
							}
						},datepickersOpt));

						
						var eventLog = function (ctx, e) {
							var html = [
								"name: " + ctx.get("name"),
								"event.type: " + e.type,
								"val: " + ctx[0]
							];
							// $(".events-plate").html(html.join("<br />"));
							// console.log(html.join());
						};
						var valuesArr = [];
						$(".selecteInclude").mSelectDBox({
							"list": ['خدمة الغرف','سبا','حمامات سباحة','غداء','فطار','عشاء','توصيل للحرم'],
							"multiple": true,
							"autoComplete": true,
							"width":"100px",
							"name": "a",
							"onInit": function (ctx) {
								new $.fn.mSelectDBox.MyCustomAppear1(ctx);
							},
							"input:empty": eventLog,
							"onselect": function (msdbContext){
								var values = msdbContext._props.target.attributes['data-msdb-value'].value;
								valuesArr = $(".selecteInclude").mSelectDBox().getSelectedValues();
								var input = $('#includeInput');
								$(input).val(valuesArr);
							}
					});


					});
