extends home-layout.pug

block content
	<!-- Big Section -->
	section#big-section
		.container
			.row
				#big-section-content
					img.wow.tracking-in-expand-fwd(src="/img/logo-big-white.png", data-wow-duration="1.5s")
					h1.h1.mt-4.text-white.font-weight-bold.text-uppercase.wow.tracking-in-expand-fwd(data-wow-duration="1.5s") kaʿbah
					p.mt-5.wow.text-focus-in(data-wow-duration="0.75s")
						| al-musharrafah, is a building at the center of Islam's most sacred mosque, that is Al-Masjid Al-Ḥarām, in Mecca, Hejaz, Saudi Arabia. It is the most sacred site in Islam. It is considered by Muslims to be the bayt Allāh, the "House of God".
					a.mt-4.text-white.btn.btn-gradient-primary.btn-lg.btn-fw.font-weight-bold.text-uppercase(href="#") learn more

	<!-- End Big Section -->
	
	<!-- Companies Section -->
	section#companies
		.container
			.row
				h1.col-12.text-uppercase.font-weight-bold.text-center#companies-title featured best rated companies
				.companies.col-sm-12.mt-5
					.row
						include mixins/_company.pug
						//- company(name, date, desc, link, imgName)
						if companies
							each company in companies
								+company(company)
				.col-12.text-center.mt-5
					a#companies-more.text-uppercase.font-weight-bold(href="/companies") view more
					
	<!-- End Companies Section -->



	<!-- Shaaer Section -->
	//- section#shaaer
	//- 	.container
	//- 		.row
	//- 			h1.col-12.text-uppercase.font-weight-bold.text-center#shaaer-title shaaer for hajj & umrah
	//- 			.shaaers.col-sm-12.mt-5
	//- 				.row.d-flex.flex-row.justify-content-between
	//- 					.shaaera.col-lg-6.col-sm-12.d-flex.flex-row(data-wow-offset="10", data-wow-duration="1s")
	//- 						.col-sm-4.p-0
	//- 							img.img-fluid.shaaera-image(src="/img/shaaera-2.png" title="shaaer al umrah")
	//- 						.col-sm-8.shaaera-content.d-flex.flex-column.justify-content-around.pl-5.pr-4
	//- 							a(href="/shaaer/umrah")
	//- 								h2.shaaera-title.font-weight-bold.text-uppercase.text-black.h2.pr-4.mb-3 shaaer al-umrah
	//- 								p.shaaera-description.text-black.font-weight-light The Umrah Just about every religion has one thing that a person must do in their lifetime in order to go ...
	//- 								a.shaaera-showMore.text-white.btn.btn-gradient-primary.btn-sm.btn-fw.font-weight-bold.text-uppercase(href="/shaaer/umrah", type="button") more
	//- 					.shaaera.col-lg-6.col-sm-12.d-flex.flex-row(data-wow-offset="10", data-wow-duration="1s")
	//- 						.col-sm-4.p-0
	//- 							img.img-fluid.shaaera-image(src="/img/shaaera-1.png" title="shaaer al umrah")
	//- 						.col-sm-8.shaaera-content.d-flex.flex-column.justify-content-around.pl-5.pr-4
	//- 							a(href="/shaaer/hajj")
	//- 								h2.shaaera-title.font-weight-bold.text-uppercase.text-black.h2.pr-4.mb-3 shaaer al-hajj
	//- 								p.shaaera-description.text-black.font-weight-light The Hajj is an Islamic pilgrimage to Mecca and the largest gathering of Muslim people in the world every ... 
	//- 								a.shaaera-showMore.text-white.btn.btn-gradient-primary.btn-sm.btn-fw.font-weight-bold.text-uppercase(href="/shaaer/hajj", type="button") more

	section#shaaer
		.container
			.row
				h1.col-12.text-uppercase.font-weight-bold.text-center.mb-5#shaaer-title shaaer for hajj & umrah				
				.col-md-6
					.card.flex-md-row.mb-4.box-shadow.h-md-250(style="overflow: hidden;")
						.card-body.d-flex.flex-column.align-items-start
							h3.mb-0
								a.text-dark.text-capitalize(href='#') shaaer al-hajj
							p.card-text.mb-auto.text-gray
								| The Hajj is an Islamic pilgrimage to Mecca and the largest gathering of Muslim people in the world every ...
							a(href='/shaaer/hajj') Continue reading
						img.card-img-right.flex-auto.d-none.d-lg-block(src='/img/shaaera-2.png', alt='shaaer al hajj')

				.col-md-6
					.card.flex-md-row.mb-4.box-shadow.h-md-250(style="overflow: hidden;")
						.card-body.d-flex.flex-column.align-items-start
							h3.mb-0
								a.text-dark.text-capitalize(href='#') shaaer al-umrah
							p.card-text.mb-auto.text-gray
								| The Umrah Just about every religion has one thing that a person must do in their lifetime in order to go ...
							a(href='/shaaer/umrah') Continue reading
						img.card-img-right.flex-auto.d-none.d-lg-block(src='/img/shaaera-1.png' alt='shaaer al umrah')


	<!-- End Shaaer Section -->
	
	<!-- Join-Us section -->
	section#join-us
		.container
			.row.d-flex.flex-column.justify-content-center.align-items-center
				h1#join-us-title.h1.text-white.text-uppercase.font-weight-bold.text-center
					| tourism company?
					br 
					| join us
				h2#join-us-description.h2.text-white.font-weight-light.text-center.mt-5 Join the more than 40,000 Companies which fill seats and manage travel with us.
				a#join-us-showMore.mt-5.text-white.btn.btn-gradient-primary.btn-lg.btn-fw.font-weight-bold.text-uppercase(href="/company/register") Learn more
	<!-- End Join-Us section -->
