doctype html
html
	include partials/header.pug
	body

		.container-scroller
			.container-fluid.page-body-wrapper
				.row
					.content-wrapper.full-page-wrapper.d-flex.align-items-center.auth-pages
						.card.col-lg-4.mx-auto
							.card-body.px-5.py-5
								h3.card-title.text-left.mb-3 Register
								form
									.form-group
										label Username
										input.form-control.p_input(type='text')
									.form-group
										label Email
										input.form-control.p_input(type='email')
									.form-group
										label Password
										input.form-control.p_input(type='password')
									.form-group.d-flex.align-items-center.justify-content-between
										.form-check
											label.form-check-label
												input.form-check-input(type='checkbox')
												|                         Remember me
										a.forgot-pass(href='#') Forgot password
									.text-center
										button.btn.btn-primary.btn-block.enter-btn(type='submit') Login
									.d-flex
										button.btn.btn-facebook.col.mr-2
											i.mdi.mdi-facebook
											|  Facebook
										button.btn.btn-google.col
											i.mdi.mdi-google-plus
											|  Google plus
									p.sign-up.text-center
										| Already have an Account?
										a(href='#')  Sign Up
									p.terms
										| By creating an account you are accepting our
										a(href='#')  Terms & Conditions


		include partials/footer.pug
