extends home-layout.pug

block content
	#umrah-header(dir="rtl")
		.container
			.row
				.col-md-9
					h1.display-1 العمرة
					p.lead.my-3.mb-2.font-italic 
						| تعد العمرة من سنة رسولنا الكريم محمد عليه السلام ، ولمن يقوم بتأديتها على أكمل وجه له الأجر وأجرها " غفران الذنوب وزوالها" 
						| قال النبي عليه الصلاة والسلام في العمرة :" الغازي في سبيل الله والحاج والمعتمر وفد الله دعاهم فأجابوه وسألوه فأعطاهم"
						| كان للعمرة أجرا كبيرا في شهر رمضان فقد قيل: إن ثواب العمرة في رمضان يعدل ثواب الحج لكنه لا يقوم مقامه في إسقاط الفرض. 
	main#umrah-content(dir="rtl")
		.container
			.row
				.blog-post.pt-5
					h1.text-black.font-weight-bold مناسك العمرة
					hr
					ol
						li
							h3 الإحرام من الميقات
							p
								| تنظيف واغتسال ثم البس ملابس الاحرام ( ازار و رداء) ام المراه ان تحرم فيما من الثياب مع الحذر من التشبيه بالرجال فى لباسهم ولكن ليس لها ان تلبس النقاب و القفزين حال احرامها ولكن عليها ستر وجهها وكفيها بحائل غير النقاب.
							p
								| تصلى ركعتين تنوى بهما سنه الوضوء  و فاذا فرغت من الصلاه فانو الحج بقلبك عند الميقاد و تلفظ بلسانك  بالنسك الذى تريده بقول "لبيك اللهم حجا" فى حاله ان كنت خائفا من عائق يعوقك عن تمام النسك فينبغى لك ان تشترط عند الاحرام قائلا"ان حبسنى حابس فمحلى حيث حبستنى ".
							p
								| بعدها يحرم عليك لبس المخيط و ازاله الشعر و تقليم الاظافر و تغطيه الرأس (كالطاقيه و العمامه) اما استظلالك بسقف عريبه او شمسيه او خيمه.
						li
							h3 التلبية
							p
								| التلبية هي ركن من أركان العمرة تُعدّ واجبة عند الماكيّة والحنفيّة، وسنة عند الشافعيّة والحنبليّة، حيث يقول المعتمر عند التلبية: (لبيك اللهم عمرة، لبيك اللهم لبيك، لبيك لا شريك لك لبيك، إن الحمد والنعمة لك والملك، لا شريك لك) ويستمرّ في التلبية حتى يصل إلى مكة، ثمّ الدخول إلى المسجد الحرام مقدّماً رجله اليمنى قائلاً: (بسم الله والصلاة والسلام على رسول الله أعوذ بالله العظيم وبوجهه الكريم وسلطانه القديم من الشيطان الرجيم اللهم افتح لي أبواب رحمتك)، حيث ينتهي المعتمر من التلبية عند رؤية البيت واستلام الحجر
						li
							h3 الطواف
							p
								| يقطع المعتمر التلبية عند الشروع في الطواف، ويبدأ طوافه من الحجر الأسود بلمسه وتقبيله وإن لم يتيسّر له ذلك، فبإمكانه أن يشير إليه بيده قائلاً: (بسم الله والله أكبر)، ثمّ يطوف سبعة أشواط حول الكعبة حيث يبدأ الطواف من الحجر الأسود، ويختم الشوط عند رجوعه إليه، فإذا وصل المعتمر إلى الركن اليمانيّ -وهو الركن الذي يسبق الحجر الأسود- يسنّ له أن يستلمه دون تقبيل، فإن لم يتيسّر له استلامه فلا يشير إليه من بعيد، ويسنّ للرجل دون المرأة أن يرمل في الأشواط الثلاثة الأولى؛ حيث يُقارب خطواته ويُسرِع في المشي، ومن الممكن أن يضطبع في جميع الطواف، وذلك بإخراج الكتف الأيمن، وجعل طرفي الرداء الملبوس على الكتف الأيسر، وكلما اقترب ممّا بين الحجرالأسود و الركن اليماني كبَّر قائلاً: (ربنا آتنا في الدنيا حسنة وفي الآخرة حسنة ، وقنا عذاب النار)، وفي باقي طوافه يذكر الله بما شاء من الأذكار والأدعية.
						li
							h3 مقام إبراهيم وزمزم
							p
								| عند الانتهاء من الأشواط السبعة يستر المعتمر كتفيه بالرداء، ثمّ يقرأ عند مقام إبراهيم قول الله تعالى: (واتخذوا من مقام إبراهيم مصلى) وبعد الطواف يصلّي المعتمر ركعتين خلف مقام رسول الله إبراهيم عليه السلام، حيث يقرأ في الركعة الأولى بعد الفاتحة سورة الكافرون وفي الركعة الثانية سورة الإخلاص، وإن لم يتيسر له ذلك فيصلّي في أيّ مسجد آخر.
						li
							h3 السعي بين الصفا والمروة
							p
								| يسعى المعتمِر بين الصفا والمروة، وعند اقترابه من الصفا يقف قائلاً قوله تعالى: (إِنَّ الصَّفَا وَالْمَرْوَةَ مِن شَعَائِرِ اللَّهِ فَمَنْ حَجَّ الْبَيْتَ أَوِ اعْتَمَرَ فَلَا جُنَاحَ عَلَيْهِ أَن يَطَّوَّفَ بِهِمَا) ، دون إعادتها مرةً أخرى، يليه القيام بالخطوات الآتية:[٩] يصعد المعتمر إلى الصفا، ويستقبل القبلة، ويرفع يديه بالتكبير والحمد، قائلا: (لا إله إلا الله وحده لا شريك له، له الملك وله الحمد، وهو على كل شيء قدير، لا إله إلا الله وحده، أنجز وعده، ونصر عبده، وهزم الأحزاب وحده)، ثمّ الدعاء، وإعادة الذكر ثلاث مرات. يتقدّم المعتمر من الصفا باتجاه المروة، وعند وصوله إلى العلم الأخضر الأول عليه أن يركض بأقصى سرعته، وعند وصوله إلى العلم الأخضر الثاني يمشي مشياً عادياً حتى يبلغ المروة، وخلال عملية السير عليه بالذكر، والدعاء، وقراءة ما يتيسر له من القرآن الكريم، ويُعدّ السعي الشديد بين كلا العلمين من أعمال الرجال لا النساء.
						
						li
							h3 الحلق والتقصير
							p
								| يقصِّر المعتمر شعر رأسه، ويكون التقصير شاملاً لجميع رأسه، والمعتمرة يجب عليها أن تقصّر من كلّ أطراف شعرها بقدر رأس إصبع، وبهذا يكون المعتمرون قد أنهوا مناسك العمرة وتحلّلوا، وأصبح بإمكانهم أن يتمتّعوا بما أحلّ الله لهم من الطيب واللباس وغيره